.join {
	min-height:260px;
	background:#717aff;
	text-align:center;
	padding-top:47px;
	padding-bottom:27px;

	.join-title {
		display:inline-block;
		font-family:@MP;
		font-size:2rem;
		color:#fff;
		margin-bottom:78px;
	}
	.wrapper{
		max-width:1200px;
		padding: 0 10px;
		margin:0 auto;
		.form-wrap--join {
			padding:0;
			max-width:none;
			margin:0;
			background:transparent;
			@media screen and (max-width:980px) {
							max-width:381px;
							margin: 0 auto;
						}
			
			
			.form {
				@media screen and (max-width:980px) {
							display:inline-block;
						}
				
				
				input {
					max-width:302px;
					
					@media screen and (max-width:980px) {
							display:block;
							margin-right:0px;
						}
					&:last-child {
						margin-right:0;
					}
				}

				.form__text {
					padding-top:15px;
					padding-bottom:15px;
					
					
			}
						
					
					
				
			.g_btn {
				max-width:302px;
				
				background:#463d73;

			}

			}
			
		}

	}
}