section.about-us
	.wrapper.clearfix
		.picture
			.picture__bg
				img(src="image/about_us.png" title="О нас" alt="О нас").figure
		.list
			ul.list__items
				li.list__item Мы занимаемся поставкой и продажей трендовых товаров уже 5 лет.
				li.list__item Постоянно тестируем новые товары, выявляем тренды и поставляем их напрямую от поставщика.
				li.list__item Наши маркетологи разрабатывают и запускают сайты, настраивают рекламные каналы. 
		
				



			