section.join
	span.join-title Присоединяйся к нашей команде!
	.wrapper
		.form-wrap.form-wrap--join
			form(name="form" action="javascript:void(0);" method="post").form
				input(name="name" type="text" placeholder="Название города").form__text
				input(name="phone" type="text" placeholder="Телефон").form__text
				input(name="send" type="submit" value="Отправить заявку").g_btn
