section.our-packets
	h2.text-title.our-packets__title Наши пакеты
	.wrapper
		.wrap-price.clearfix
			.wrap-price__item
				h3.title-price Старт
				ul.price-list
					li.item-pt Настройка и подключение сайта landinge page
					li.item-pt Обучение
					li.item-pt Первая партия товара на 20000 р.
					li.item-pt Подключение 1 канала рекламы
						span Яндекс-директ
				.block-btn
					.block-btn__text 50 000 руб.
					span.g_btn.block-btn__send Отправить заявку			


			.wrap-price__item
				h3.title-price Стандарт
				ul.price-list
					li.item-pt Настройка и подключение сайта landinge page
					li.item-pt Обучение
					li.item-pt Первая партия товара на 25000 р.
					li.item-pt Подключение 2 каналов рекламы
						span Яндекс-директ и Google Adwards
					li.item-pt Подключение новых трендовых товаров  
						b со скидкой 30%
					li.item-pt Аккаунт поддержка от нашего маркетингового агенства на первый месяц
				.block-btn
					.block-btn__text 75 000 руб.
					span.g_btn.block-btn__send Отправить заявку	
			.wrap-price__item
				h3.title-price Премиум
				ul.price-list
					li.item-pt Настройка и подключение сайта landinge page
					li.item-pt Обучение
					li.item-pt Первая партия товара на 35000 р.
					li.item-pt Подключение 5 каналов рекламы
						span Яндекс-директ, Google Adwards, таргетированная реклама в соц. сетях РСЯ, продвижение в Instagram
					li.item-pt Подключение новых трендовых товаров 
						b со скидкой 50%
					li.item-pt Аккаунт поддержка от нашего маркетингового агенства на первый месяц Аккаунт поддержка от нашего маркетингового агенства на первый месяц Аккаунт поддержка от нашего маркетингового агенства на первый месяц Аккаунт поддержка от нашего маркетингового агенства на первый месяц
				.block-btn
					.block-btn__text 100 000 руб.
					span.g_btn.block-btn__send Отправить заявку
			







