section.reference 
	h2.text-title Отзывы наших клиентов
	.wrapper
		.slider-reference
			span.nextArrow
			span.prevArrow
			ul.slider-reference__wrap
				li.item-slide
					<iframe  src="https://www.youtube.com/embed/4_scCprKXlg" frameborder="0" allowfullscreen></iframe>
				li.item-slide
					<iframe  src="https://www.youtube.com/embed/4_scCprKXlg" frameborder="0" allowfullscreen></iframe>
				li.item-slide
					<iframe  src="https://www.youtube.com/embed/4_scCprKXlg" frameborder="0" allowfullscreen></iframe>
				li.item-slide
					<iframe  src="https://www.youtube.com/embed/4_scCprKXlg" frameborder="0" allowfullscreen></iframe>
				li.item-slide
					<iframe  src="https://www.youtube.com/embed/4_scCprKXlg" frameborder="0" allowfullscreen></iframe>

		