section.top_bg 
	h2.lozung Стань нашим партнером
		br
		| и получи интернет магазин в твоем регионе
		 
	.form-wrap
		form(name="form" action="javascript:void(0);" method="post").form
			input(name="name" type="text" placeholder="Имя").form__text
			input(name="phone" type="text" placeholder="Телефон").form__text
			input(name="send" type="submit" value="Отправить заявку").g_btn
		.sended
			p.message Спасибо за Вашу заявку!
				br
				| Наш менеджер свяжется с Вами
				br
				| в ближайшее время!	



