section.what-you
	h2.text-title Чем Вы будете заниматься
	.wrapper
		.content-what
			span.content-what__text Вы будете продавать популярные товары через собственный интернет магазин
			.content-what__list
				ul.jsSlider_wrap.clearfix
					li.icon-reklams.icon-what 
						span CEO, контекстная реклама, социальные сети, Авито
					li.icon-ieshop.icon-what 
						span Интернет-магазин
					li.icon-call.icon-what 
						span Звонок клиенту
					li.icon-send.icon-what 
						span Отправляете товар
					li.icon-money.icon-what 
						span Получаете деньги
				
