section.why
	h2.text-title Почему с нами выгодно сотрудничать?
	.wrapper
		ul.wrap-why
			li.item-pt.item-pt--why
				span Сроки окупаемости  
				| -  учитывая минимальные вложения, Вы окупитесь за первый месяц

			li.item-pt.item-pt--why 
				span Возможность масштабирования   
				| -  вы будете продавать не только товар, который мы подключили Вам изначально, - мы постоянно тестируем новые товары, выявляем тренды, дальше у вас будет возможность постоянно подключать новые товары, которые будут появляться, таким образом, зарабатывать больше

			li.item-pt.item-pt--why
				span Перспективные ниши   
				| - мы продаем трендовый товар, на который уже есть спрос либо который набирает популярность

			li.item-pt.item-pt--why Предоставляем полное обучение по осуществлению продаж через интернет-магазин 
				
			li.item-pt.item-pt--why Вы получаете свой бизнес, сами зарабатываете, мы не контролируем вашу выручку и не берем роялти
				
			li.item-pt.item-pt--why 
				span Быстрый старт  
				| - на запуск сайта, рекламных каналов, закуп первой партии товара нужно 5 дней, - Вы сможете получать первые заявки уже на 6й день
			li.item-pt.item-pt--why
				span Маркетинговая поддержка   
				| -  учитывая минимальные вложения, Вы окупитесь за первый месяц
			li.item-pt.item-pt--why Мы сами занимаемся поставками товара от производителя, Вы будете получать товар по самым выгодным оптовым ценам
				
			li.item-pt.item-pt--why Высокомаржинальный товар
			 	
