extends ../layout/main

block title
	| Главная страница

block content
	include ../sections/top-bg		
	include ../sections/about-us		
	include ../sections/what-you		
	include ../sections/our-packets	
	include ../sections/why	
	include ../sections/reference	
	include ../sections/One-representation	
	include ../sections/join	
				