@charset 'UTF-8';

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  width: 180px;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */

.slick-loading .slick-list {
  background: #fff url('../img/plugins/ajax-loader.gif') center center no-repeat;
}

/* Icons */

@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/slick.eot');
  src: url('../fonts/slick.eot?#iefix') format('embedded-opentype'), url('../fonts/slick.woff') format('woff'), url('../fonts/slick.ttf') format('truetype'), url('../fonts/slick.svg#slick') format('svg');
}

/* Arrows */

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25;
}

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}

.slick-prev:before {
  content: '←';
}

[dir='rtl'] .slick-prev:before {
  content: '→';
}

.slick-next {
  right: -25px;
}

[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}

.slick-next:before {
  content: '→';
}

[dir='rtl'] .slick-next:before {
  content: '←';
}

/* Dots */

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black;
}

/*-----------Шрифты для шапки сайта,*/

/*--------Шрифты для секции с ферхним фоном, для секции Чем Вы будите заниматься----------*/

/*-------Шрифты для секции О нас, для секции Чем Вы будите заниматься-------------------*/

/*----------Шрифт для секции - Наши пакеты-------------------------------*/

/*----------Шрифт для секции - Присоединяйся к нашей команде-------------------------------*/

@font-face {
  font-family: "MuseoSansCyrl_900";
  src: url("../fonts/MuseoSansCyrl-900/MuseoSansCyrl-900.eot");
  src: url("../fonts/MuseoSansCyrl-900/MuseoSansCyrl-900.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-900/MuseoSansCyrl-900.woff") format("woff"), url("../fonts/MuseoSansCyrl-900/MuseoSansCyrl-900.ttf") format("truetype"), url("../fonts/MuseoSansCyrl-500/MuseoSansCyrl-900.svg#MuseoSansCyrl_900") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MuseoSansCyrl_700";
  src: url("../fonts/MuseoSansCyrl-700/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl-700/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-700/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl-700/MuseoSansCyrl-700.ttf") format("truetype"), url("../fonts/MuseoSansCyrl-500/MuseoSansCyrl-700.svg#MuseoSansCyrl_700") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MuseoSansCyrl_500";
  src: url("../fonts/MuseoSansCyrl-500/MuseoSansCyrl-500.eot");
  src: url("../fonts/MuseoSansCyrl-500/MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-500/MuseoSansCyrl-500.woff") format("woff"), url("../fonts/MuseoSansCyrl-500/MuseoSansCyrl-500.ttf") format("truetype"), url("../fonts/MuseoSansCyrl-500/MuseoSansCyrl-500.svg#MuseoSansCyrl_500") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MuseoSansCyrl_300";
  src: url("../fonts/MuseoSansCyrl-300/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl-300/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-300/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl-300/MuseoSansCyrl-300.ttf") format("truetype"), url("../fonts/MuseoSansCyrl-500/MuseoSansCyrl-300.svg#MuseoSansCyrl_300") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MuseoCyrl_700";
  src: url("../fonts/MuseoCyrl-700/MuseoCyrl-700.eot");
  src: url("../fonts/MuseoCyrl-700/MuseoCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoCyrl-700/MuseoCyrl-700.woff") format("woff"), url("../fonts/MuseoCyrl-700/MuseoCyrl-700.ttf") format("truetype"), url("../fonts/MuseoSansCyrl-500/MuseoCyrl-700.svg#MuseoSansCyrl_700") format("svg");
  font-style: normal;
  font-weight: normal;
}

/* --------------- reset.css --------------- */

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
img,
strong,
sub,
sup,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  /* обнуляем отступы и убираем бордюры */
  vertical-align: baseline;
  /* приводим все к одной базовой линии */
  background: transparent;
  /* чтобы не проскакивали левые фоны, установленные по умолчанию */
  font-size: 100%;
  /* размер шрифта всем одинаковый */
}

a {
  /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  outline: none;
}

table {
  /* устраняем отступы между ячейками таблицы */
  border-collapse: collapse;
  border-spacing: 0;
}

td,
td img {
  vertical-align: top;
  /* возвращаем привычное вертикальное выравнивание */
}

input,
select,
button,
textarea {
  margin: 0;
  /* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
  font-size: 100%;
  /* делаем размер шрифтов везде одинаковым */
  outline: none;
}

input[type="text"],
input[type="password"],
textarea {
  padding: 0;
  /* убираем внутренние отступы для текстовых полей */
}

input[type="checkbox"] {
  /* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
  vertical-align: bottom;
}

input[type="radio"] {
  vertical-align: text-bottom;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

/* --------------- /reset.css --------------- */

/* --------------- базовые настройки ---------*/

html {
  min-height: 100%;
  /* всегда показываем вертикальную полосу прокрутки  */
}

body {
  color: #000;
  text-align: left;
  font-size: 1em;
  /* используем безопасные шрифтовые CSS стеки */
  min-height: 100%;
}

a,
a:visited {
  /* порядок правил для ссылок имеет значение */
  color: #e6618c;
  text-decoration: none;
}

a:hover {
  color: #fdf208;
  text-decoration: none;
}

a:focus,
a:active {
  color: #c83867;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

img {
  max-width: 100%;
}

.clr {
  clear: both;
}

.clearfix:after {
  clear: both;
  content: "";
  display: table;
}

.content {
  overflow: hidden;
}

/* --------------- /базовые настройки ---------*/

/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/

/*.debug{
    .debug(rgba(0, 0, 0, 0.5), 1px solid #ff0);
   
}*/

/*-------------------------------------Шапка сайта---------------------------------*/

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header .wrapper {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.header .topHeader__logo {
  float: left;
  padding: 15px 0;
  text-transform: uppercase;
  font-family: "MuseoSansCyrl_900", sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
}

.header .topHeader__logo a .text_logo {
  display: block;
  text-shadow: 0 2px 5px rgba(2, 2, 2, 0.35);
  /*background: linear-gradient(to right, #717aff 0%,#dd77ff 100%);
				  	-webkit-background-clip: text;
				  	-webkit-text-fill-color: transparent;*/
}

.header .topHeader__logo a .text_logoIE {
  background: none;
}

.header .topHeader__menu {
  float: right;
  margin-right: 62px;
  margin-top: 38px;
  height: 100%;
  font-family: "MuseoSansCyrl_500", sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
}

.header .topHeader__menu:last-child {
  margin-right: 0;
}

.header .topHeader__menu .menu__item {
  display: inline-block;
  margin-right: 77px;
  color: #ffffff;
}

.header .topHeader__menu .menu__item a {
  color: inherit;
}

/*----------------------Секция с верхним фоном---------------------------------*/

.top_bg {
  height: 900px;
  background: url(../image/top-bg.jpg) center center no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

.top_bg .lozung {
  display: inline-block;
  margin-top: 230px;
  font-family: MuseoCyrl_700;
  font-size: 3rem;
  color: #ffffff;
  line-height: 1.5;
  margin-bottom: 81px;
}

.g_btn {
  width: 100%;
  padding: 16px 0px;
  color: #fff;
  font-family: "MuseoSansCyrl_500", sans-serif;
  font-weight: normal;
  font-size: 1.125rem;
  -webkit-border-radius: 42px;
  -moz-border-radius: 42px;
  border-radius: 42px;
  background: -webkit-gradient(linear, left top, right top, from(#717aff), to(#dd77ff));
  background: -webkit-linear-gradient(left, #717aff 0%, #dd77ff 100%);
  background: -moz-linear-gradient(left, #717aff 0%, #dd77ff 100%);
  background: -o-linear-gradient(left, #717aff 0%, #dd77ff 100%);
  background: linear-gradient(to right, #717aff 0%, #dd77ff 100%);
  -webkit-box-shadow: 0 10px 30px rgba(2, 2, 2, 0.35);
  -moz-box-shadow: 0 10px 30px rgba(2, 2, 2, 0.35);
  box-shadow: 0 10px 30px rgba(2, 2, 2, 0.35);
  border: none;
  /*box-shadow: 0 10px 30px rgba(2,2,2,.35), inset -100px 0px 92px  #dd77ff,inset 240px 0px 102px #717aff;*/
  cursor: pointer;
}

.form-wrap {
  max-width: 381px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 40px 40px 37px;
  -webkit-border-radius: 42px;
  -moz-border-radius: 42px;
  border-radius: 42px;
  background: rgba(255, 255, 255, 0.2);
}

.form-wrap .form {
  display: block;
  /* webkit */
  /* Firefox 19+ */
  /* Firefox 18- */
  /* IE */
}

.form-wrap .form__text {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 30px;
  -webkit-border-radius: 42px;
  -moz-border-radius: 42px;
  border-radius: 42px;
  border: none;
  margin-bottom: 30px;
  color: #999999;
  font-family: "MuseoSansCyrl_500", sans-serif;
  font-size: 1.125rem;
}

.form-wrap .form ::-webkit-input-placeholder {
  color: #999999;
  font-family: "MuseoSansCyrl_500", sans-serif;
  font-size: 1.125rem;
}

.form-wrap .form ::-moz-placeholder {
  color: #999999;
  font-family: "MuseoSansCyrl_500", sans-serif;
  font-size: 1.125rem;
}

.form-wrap .form :-moz-placeholder {
  color: #999999;
  font-family: "MuseoSansCyrl_500", sans-serif;
  font-size: 1.125rem;
}

.form-wrap .form :-ms-input-placeholder {
  color: #999999;
  font-family: "MuseoSansCyrl_500", sans-serif;
  font-size: 1.125rem;
}

.form-wrap .sended {
  position: relative;
  display: none;
  text-align: center;
}

.form-wrap .sended::before {
  content: "";
  display: inline-block;
  background-image: url(../image/sprite/sprite.png);
  background-position: 0px 0px;
  width: 120px;
  height: 120px;
  margin-top: -9px;
  margin-bottom: 17px;
}

.form-wrap .sended .message {
  font-family: "MuseoSansCyrl_500", sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
  color: #fff;
  line-height: 2;
  margin-bottom: -4px;
}

/*-----------------------Секция о Нас---------------------------------------*/

.about-us {
  padding: 100px 0 40px;
}

.about-us .wrapper {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.about-us .wrapper .picture {
  float: left;
  width: 381px;
  height: 310px;
  margin-left: 100px;
}

.about-us .wrapper .picture .picture__bg {
  position: relative;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#717aff), to(#dd77ff));
  background: -webkit-linear-gradient(left, #717aff 0%, #dd77ff 100%);
  background: -moz-linear-gradient(left, #717aff 0%, #dd77ff 100%);
  background: -o-linear-gradient(left, #717aff 0%, #dd77ff 100%);
  background: linear-gradient(to right, #717aff 0%, #dd77ff 100%);
  /*box-shadow: inset -120px 0px 112px  #dd77ff,inset 350px 0px 102px #717aff;///ie9*/
  -webkit-box-shadow: inset -120px 0px 112px #dd77ff;
  -moz-box-shadow: inset -120px 0px 112px #dd77ff;
  box-shadow: inset -120px 0px 112px #dd77ff;
}

.about-us .wrapper .picture .picture__bg::before {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  background: #fff;
}

.about-us .wrapper .picture .picture__bg .figure {
  width: 256px;
  height: 402px;
  position: absolute;
  top: -54px;
  left: 50%;
  margin-left: -128px;
}

.about-us .wrapper .list {
  float: right;
  width: 580px;
  margin-top: -10px;
}

.about-us .wrapper .list__items {
  list-style: none;
  font-size: 1.5rem;
  font-family: "MuseoSansCyrl_300", sans-serif;
}

.about-us .wrapper .list__items .list__item {
  color: #333;
  text-align: left;
  margin-bottom: 45px;
  line-height: 40px;
}

.about-us .wrapper .list__items .list__item ::last-child {
  margin-bottom: 0;
}

/*----------------------Секция чем Вы будете заниматься-----------------------------------*/

.what-you {
  text-align: center;
  padding-bottom: 79px;
}

.text-title {
  font-family: "MuseoCyrl_700";
  font-size: 2rem;
  color: #333;
  margin-bottom: 33px;
}

.text-title::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 10px;
  margin-top: 35px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  background: -webkit-gradient(linear, left top, right top, from(#717aff), to(#dd77ff));
  background: -webkit-linear-gradient(left, #717aff 0%, #dd77ff 100%);
  background: -moz-linear-gradient(left, #717aff 0%, #dd77ff 100%);
  background: -o-linear-gradient(left, #717aff 0%, #dd77ff 100%);
  background: linear-gradient(to right, #717aff 0%, #dd77ff 100%);
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.content-what__text {
  color: #333;
  font-family: "MuseoSansCyrl_300", sans-serif;
  font-size: 1.5rem;
}

.content-what__list {
  margin-top: 69px;
}

.content-what__list .jsSlider_wrap {
  list-style: none;
  font-family: "MuseoSansCyrl_300", sans-serif;
  font-size: 1rem;
  color: #333;
}

.content-what__list .jsSlider_wrap .icon-reklams {
  padding-top: 147px;
  position: relative;
}

.content-what__list .jsSlider_wrap .icon-reklams::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -90px;
  background-image: url(../image/sprite/sprite.png);
  background-position: 0px -125px;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  margin-bottom: 40px;
}

.content-what__list .jsSlider_wrap .icon-reklams::after {
  top: 40px;
  background-image: url(../image/sprite/sprite.png);
  background-position: -281px -120px;
  width: 50px;
  height: 10px;
}

.content-what__list .jsSlider_wrap .icon-ieshop {
  padding-top: 147px;
  position: relative;
}

.content-what__list .jsSlider_wrap .icon-ieshop::before {
  content: "";
  display: block;
  position: absolute;
  top: 8px;
  left: 50%;
  margin-left: -90px;
  background-image: url(../image/sprite/sprite.png);
  background-position: -85px -125px;
  width: 80px;
  height: 72px;
  margin-left: -40px;
  margin-bottom: 40px;
}

.content-what__list .jsSlider_wrap .icon-ieshop::after {
  top: 39px;
  background-image: url(../image/sprite/sprite.png);
  background-position: -281px -120px;
  width: 50px;
  height: 10px;
}

.content-what__list .jsSlider_wrap .icon-call {
  padding-top: 147px;
  position: relative;
}

.content-what__list .jsSlider_wrap .icon-call::before {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -90px;
  background-image: url(../image/sprite/sprite.png);
  background-position: -125px 0px;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  margin-bottom: 40px;
}

.content-what__list .jsSlider_wrap .icon-call::after {
  top: 40px;
  background-image: url(../image/sprite/sprite.png);
  background-position: -281px -120px;
  width: 50px;
  height: 10px;
}

.content-what__list .jsSlider_wrap .icon-send {
  padding-top: 147px;
  position: relative;
}

.content-what__list .jsSlider_wrap .icon-send::before {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  left: 50%;
  margin-left: -90px;
  background-image: url(../image/sprite/sprite.png);
  background-position: 0px -210px;
  width: 80px;
  height: 53px;
  margin-left: -40px;
  margin-bottom: 40px;
}

.content-what__list .jsSlider_wrap .icon-send::after {
  top: 39px;
  background-image: url(../image/sprite/sprite.png);
  background-position: -281px -120px;
  width: 50px;
  height: 10px;
}

.content-what__list .jsSlider_wrap .icon-money {
  padding-top: 147px;
  position: relative;
}

.content-what__list .jsSlider_wrap .icon-money::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -90px;
  background-image: url(../image/sprite/sprite.png);
  background-position: -210px 0px;
  width: 66px;
  height: 80px;
  margin-left: -40px;
  margin-bottom: 40px;
}

.content-what__list .jsSlider_wrap .icon-what {
  text-align: center;
}

.content-what__list .jsSlider_wrap .icon-what span {
  display: inline-block;
  width: 165px;
}

.content-what__list .jsSlider_wrap .icon-what::after {
  content: "";
  display: block;
  position: absolute;
  right: -32px;
  background-image: url(../image/sprite/sprite.png);
  background-position: -281px -120px;
  width: 50px;
  height: 10px;
  margin-top: -5px;
}

.content-what__list .jsSlider_wrap .icon-what:last-child::after {
  display: none;
}

/*-------------------Секция - наши пакеты--------------------------------------------*/

.our-packets {
  background: #f6fafb;
  text-align: center;
  padding-top: 68px;
}

.our-packets .wrapper {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.our-packets .wrap-price {
  margin-right: -10px;
  margin-left: -10px;
}

.our-packets .wrap-price__item {
  position: relative;
  padding: 39px 30px  170px 51px;
  float: left;
  margin-bottom: 68px;
  margin-right: 10px;
  margin-left: 10px;
  background: #fff;
  width: 30.69%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 10px 10px rgba(2, 2, 2, 0.05);
  -moz-box-shadow: 0 10px 10px rgba(2, 2, 2, 0.05);
  box-shadow: 0 10px 10px rgba(2, 2, 2, 0.05);
}

.our-packets .wrap-price__item .title-price {
  text-align: center;
  font-family: "MuseoCyrl_700";
  font-size: 1.5rem;
}

.our-packets .wrap-price__item .title-price::after {
  content: "";
  display: block;
  width: 20px;
  height: 5px;
  background: #4a90e2;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  margin: 0 auto;
  margin-top: 20px;
}

.our-packets .wrap-price__item .price-list {
  margin-top: 20px;
}

.our-packets .wrap-price__item .block-btn {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 27px 40px 30px;
  border-top: 1px solid #eaedee;
}

.our-packets .wrap-price__item .block-btn__text {
  font-family: "MuseoSansCyrl_700", sans-serif;
  font-size: 2rem;
  color: #333;
  margin-bottom: 14px;
}

.our-packets .wrap-price__item .block-btn__send {
  display: block;
  -webkit-box-shadow: 0 5px 10px rgba(2, 2, 2, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(2, 2, 2, 0.2);
  box-shadow: 0 5px 10px rgba(2, 2, 2, 0.2);
}

.item-pt {
  position: relative;
  margin-bottom: 6px;
  list-style: none;
  font-family: "MuseoSansCyrl_700", sans-serif;
  font-size: 1.125rem;
  color: #333333;
  line-height: 1.8;
  text-align: left;
}

.item-pt:last-child {
  margin-bottom: 0;
}

.item-pt::before {
  content: "";
  display: block;
  position: absolute;
  top: 13px;
  left: -21px;
  width: 6px;
  height: 6px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #4a90e2;
}

.item-pt span {
  display: block;
  font-family: "MuseoSansCyrl_300", sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #999999;
}

/*-------------------Секция - Почему с нами выгодно сотрудничать--------------------------------------------*/

.why {
  min-height: 962px;
  background: url(../image/bg-why.png) 0 0 no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  padding-top: 67px;
  padding-bottom: 50px;
}

.why .wrapper {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.why .wrapper .wrap-why {
  max-width: 1180px;
  margin: 0 auto;
  padding: 70px 100px 60px 84px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}

.why .wrapper .wrap-why .item-pt--why {
  font-family: "MuseoSansCyrl_300", sans-serif;
  margin-bottom: 30px;
}

.why .wrapper .wrap-why .item-pt--why:last-child {
  margin-bottom: 0;
}

.why .wrapper .wrap-why .item-pt--why span {
  display: inline;
  font: inherit;
  font-family: "MuseoSansCyrl_700", sans-serif;
  color: #333;
}

/*-------------------Секция - Отзывы наших клиентов--------------------------------------------*/

.reference {
  text-align: center;
  padding-top: 67px;
  padding-bottom: 86px;
  background: #f6fafb;
}

.reference .wrapper {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
  margin-top: 50px;
}

.reference .wrapper .slider-reference {
  max-width: 958px;
  margin: 0 auto;
  position: relative;
}

.reference .wrapper .slider-reference .nextArrow {
  position: absolute;
  top: 50%;
  right: -121px;
  display: block;
  margin-top: -30px;
  background: url(../image/sprite/sprite.png) 0 0 no-repeat;
  background-image: url(../image/sprite/sprite.png);
  background-position: -281px 0px;
  width: 61px;
  height: 60px;
  z-index: 1000;
  cursor: pointer;
}

.reference .wrapper .slider-reference .prevArrow {
  position: absolute;
  top: 50%;
  left: -121px;
  display: block;
  margin-top: -30px;
  background: url(../image/sprite/sprite.png) 0 0 no-repeat;
  background-image: url(../image/sprite/sprite.png);
  background-position: -210px -85px;
  width: 61px;
  height: 60px;
  z-index: 1000;
  cursor: pointer;
}

.reference .wrapper .slider-reference__wrap .item-slide {
  position: relative;
  list-style: none;
}

.reference .wrapper .slider-reference__wrap .item-slide::after {
  content: "";
  display: block;
  padding-top: 56.25%;
  height: 0;
}

.reference .wrapper .slider-reference__wrap .item-slide iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.reference .wrapper .slider-reference__wrap .slick-dots {
  bottom: -55px;
}

.reference .wrapper .slider-reference__wrap .slick-dots li {
  margin: 0 1px;
}

.reference .wrapper .slider-reference__wrap .slick-dots li.slick-active {
  margin-right: 6px;
  margin-left: 0px;
}

.reference .wrapper .slider-reference__wrap .slick-dots li button {
  width: 10px;
  height: 10px;
  background: #cccccc;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.reference .wrapper .slider-reference__wrap .slick-dots li.slick-active button {
  width: 20px;
  height: 20px;
  background: #717aff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

/*-------------------Секция - Мы открываем одно представительство в регионе--------------------------------------------*/

.One-representation {
  padding-top: 68px;
  height: 730px;
  background: #463d73 url(../image/bg-map.png) center no-repeat;
  text-align: center;
  overflow: hidden;
}

.One-representation .text-title--white {
  color: #fff;
}

.One-representation .text-title--white::after {
  background: #fff;
}

.One-representation .wrapper {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.One-representation .wrapper .representation-wrap .representation-wrap__man {
  float: left;
  position: relative;
  left: 90px;
  top: 25px;
}

.One-representation .wrapper .representation-wrap .form-wrap--representation {
  float: right;
  background: #fff;
  padding: 63px 40px 65px;
  margin-right: 105px;
  margin-top: 60px;
}

.One-representation .wrapper .representation-wrap .form-wrap--representation .form--representation {
  display: none;
}

.One-representation .wrapper .representation-wrap .form-wrap--representation .form--representation span {
  display: block;
  margin-bottom: 47px;
  font-family: "MuseoSansCyrl_500", sans-serif;
  font-size: 1.5rem;
  color: #333;
}

.One-representation .wrapper .representation-wrap .form-wrap--representation .form--representation .form__text {
  padding-top: 16px;
  padding-bottom: 16px;
  border: 2px solid #e1e1e1;
}

.One-representation .wrapper .representation-wrap .form-wrap--representation .sended--representation {
  display: block;
}

.One-representation .wrapper .representation-wrap .form-wrap--representation .sended--representation::before {
  display: none;
}

.One-representation .wrapper .representation-wrap .form-wrap--representation .sended--representation .message--representation {
  font-size: 1.5rem;
}

.One-representation .wrapper .representation-wrap .form-wrap--representation .sended--representation .message--representation::after {
  content: "";
  display: inline-block;
  background-image: url(../image/sprite/sprite.png);
  background-position: 0px 0px;
  width: 120px;
  height: 120px;
  margin-top: 34px;
  margin-bottom: 12px;
}

.One-representation .wrapper .representation-wrap .form-wrap--representation .sended--representation .message {
  font-size: 1.125rem;
  color: #333;
}

/*-------------------Секция - Присоединяйся к нашей команде-------------------------------------------*/

.join {
  min-height: 260px;
  background: #717aff;
  text-align: center;
  padding-top: 47px;
  padding-bottom: 27px;
}

.join .join-title {
  display: inline-block;
  font-family: 'Myriad Pro', sans-serif;
  font-size: 2rem;
  color: #fff;
  margin-bottom: 78px;
}

.join .wrapper {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.join .wrapper .form-wrap--join {
  padding: 0;
  max-width: none;
  margin: 0;
  background: transparent;
}

.join .wrapper .form-wrap--join .form input {
  margin-right: 18px;
}

.join .wrapper .form-wrap--join .form input:last-child {
  margin-right: 0;
}

.join .wrapper .form-wrap--join .form .form__text {
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 302px;
}

.join .wrapper .form-wrap--join .form .g_btn {
  max-width: 302px;
  background: #463d73;
}

/*-------------------------------------Подвал сайта---------------------------------*/

footer {
  min-height: 70px;
  background: #333333;
  overflow: hidden;
}

footer .wrapper {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

footer .wrapper .wrap-footer {
  line-height: 70px;
}

footer .wrapper .wrap-footer .politics {
  float: left;
  font-family: "MuseoSansCyrl_500", sans-serif;
  font-size: 1rem;
  text-decoration: underline;
  color: #ACACAC;
}

footer .wrapper .wrap-footer .politics__link {
  color: inherit;
}

footer .wrapper .wrap-footer .politics:hover {
  text-decoration: none;
}

footer .wrapper .wrap-footer .phone {
  float: right;
  font-family: "MuseoSansCyrl_500", sans-serif;
  font-size: 1.25rem;
  color: #fff;
}

footer .wrapper .wrap-footer .phone__link {
  color: inherit;
}

@media screen and (max-width: 1135px) {
  .about-us .wrapper {
    text-align: center;
  }

  .about-us .wrapper .picture {
    float: none;
    margin: 0 auto;
    width: 341px;
    height: 280px;
    margin-bottom: 70px;
  }

  .about-us .wrapper .picture .picture__bg {
    max-width: 381px;
  }

  .about-us .wrapper .list {
    float: none;
    width: 100%;
  }
}

@media screen and (max-width: 1130px) {
  .header .topHeader__menu {
    display: none;
  }
}

@media screen and (max-width: 1124px) {
  .content-what__list .jsSlider_wrap .icon-what::after {
    right: -2px;
  }
}

@media screen and (max-width: 1024px) {
  .top_bg .lozung {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 800px) {
  .why .wrapper .wrap-why {
    padding: 70px 40px 60px 30px;
  }
}

@media screen and (max-width: 700px) {
  .content-what__list .jsSlider_wrap .icon-what::after {
    right: 20px;
  }
}

@media screen and (max-width: 620px) {
  .top_bg .lozung {
    font-size: 2.0rem;
    margin-top: 180px;
    height: auto;
  }
}

@media screen and (max-width: 410px) {
  .top_bg .lozung {
    font-size: 1.5rem;
    margin-top: 180px;
  }
}
/*# sourceMappingURL=style.css.map */
